<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Submission Page</title>
<link rel="stylesheet" href="submit.css" />
</head>
<body >
<h1 >Your submission was successful !<br><br> Thank you !</h1>
<br>
<img src = "" th:src="@{coffee_man.gif}"  />

<div > 
<h1>Your Submission</h1>
<p th:text="'fullName: ' + ${greeting.fullName}" ></p>
<p th:text="'email: ' + ${greeting.email}"></p>
<p th:text="'password: ' + ${greeting.password}" ></p>


<p th:text="'phone: ' + ${greeting.phone}" ></p>
 
<p th:text="'birthday: ' + ${greeting.birthday}"></p>

<p th:text="'gender: ' + ${greeting.gender}"></p>

<a href="/greeting">Submit another message</a>
</div>

</body>
</html>